
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="..\assets\img\IIUI-logo.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        IIUI-FYP Portal System
    </title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="../assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="../assets/demo/demo.css" rel="stylesheet" />

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="../vendors/fontawesome-free-5.8.1-web/js/all.min.js"></script>
    <script src="../vendors/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>

    <style>
        input[type="text"], input[type="password"] {
            font-size: 15px;
        }

        .pass_show {
            position: relative
        }

            .pass_show .ptxt {
                position: absolute;
                top: 50%;
                right: 10px;
                z-index: 1;
                color: #f36c01;
                margin-top: -10px;
                cursor: pointer;
                transition: .3s ease all;
            }

                .pass_show .ptxt:hover {
                    color: #333333;
                }
    </style>

</head>

<body ng-app="myApp">
    <div ng-controller="mainController">
        <div class="wrapper">
            <div class="sidebar" data-color="green" data-background-color="white">
                <!--
                    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

                    Tip 2: you can also add an image using data-image tag
                -->
                <div class="logo">
                    <a href="http://www.creative-tim.com" class="simple-text logo-normal">
                        Admin
                    </a>
                </div>
                <div class="sidebar-wrapper">
                    <ul class="nav">
                        <li class="nav-item ">
                            <a class="nav-link" href="./Admindashboard.html">
                                <i class="material-icons">dashboard</i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="./user.html">
                                <i class="material-icons">person</i>
                                <p>User Profile</p>
                            </a>
                        </li>

                        <li class="nav-item ">
                            <a class="nav-link" href="./Groups.html">
                                <i class="material-icons">people_alt</i>
                                <p>Groups</p>
                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a class="nav-link" href="./Projects.html">
                                <i class="material-icons">source</i>
                                <p>Projects</p>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="./Panel.html">
                                <i class="material-icons">groups</i>
                                <p>Panel</p>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="./Proposals.html">
                                <i class="material-icons">assignment</i>
                                <p>Proposal</p>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="./Templates.html">
                                <i class="material-icons">file_copy</i>
                                <p>Templates</p>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="./Teachers.html">
                                <i class="material-icons">work</i>
                                <p>Teachers</p>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="./Students.html">
                                <i class="material-icons">perm_identity</i>
                                <p>Students</p>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="./TeachersVerf.html">
                                <i class="material-icons">assignment_turned_in</i>
                                <p>Teachers verifcation</p>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="./Verifcation.html">
                                <i class="material-icons">content_paste</i>
                                <p>Verification</p>
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="./Announcement.html">
                                <i class="material-icons">notifications</i>
                                <p>Announcements</p>
                            </a>
                        </li>



                    </ul>
                </div>
            </div>
            <div class="main-panel">
                <!-- Navbar -->
                <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                    <div class="container-fluid">
                        <div class="navbar-wrapper">
                            <a class="navbar-brand" href="javascript:;">Announcements</a>
                        </div>



                        <!--modal-->



                        <div class="collapse navbar-collapse justify-content-end">

                            <ul class="navbar-nav">


                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">person</i>
                                        <p class="d-lg-none d-md-block">
                                            Account
                                        </p>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                                        <a class="dropdown-item" href="#" data-target="#pwdModal" data-toggle="modal">Change password</a>

                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" id="lgout" href="#">Log out</a>
                                    </div>

                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- End Navbar -->
                <!-- Table of verfication started -->
                <div class="content" id="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header card-header-primar" style="background-color:#4caf50;">
                                        <h4 class="card-title ">Announcement</h4>
                                        <p class="card-category"> Announcement for Fyp Students & Teachers are listed</p>
                                    </div>
                                    <div class="card-body" id="card-body">
                                        <button class="btn btn-success" data-target="#pwdModalAd" data-toggle="modal">Add Announcement</button>


                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class=" text-primar" style="color:#4caf50;">

                                                <th>
                                                    Title
                                                </th>
                                                <th>
                                                    Description
                                                </th>
                                                <th>
                                                    Deadline
                                                </th>

                                                <th>
                                                    Edit
                                                </th>
                                                <th>
                                                    Delete
                                                </th>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="row in announcements | filter: tablefilter" ng-if="row.PanelId==Empty">
                                                        <td>{{row.Title}}</td>


                                                        <td>{{row.Description}}</td>
                                                        <td>{{row.Deadline}}</td>



                                                        <td>
                                                            <button class="btn btn-primary" style="font-size:11px" data-target="#pwdModalUp" data-toggle="modal" ng-click="editProject(row.Id)">Edit</button>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-danger" style="font-size:11px" ng-click="deleteProject(row.Id)">Delete</button>
                                                        </td>
                                                    </tr>


                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="content" id="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header card-header-primar" style="background-color:#4caf50;">
                                        <h4 class="card-title ">Announcement</h4>
                                        <p class="card-category"> Announcement for Fyp Students & Teachers are listed</p>
                                    </div>
                                    <div class="card-body" id="card-body">
                                       
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class=" text-primar" style="color:#4caf50;">

                                                <th>
                                                    Title
                                                </th>
                                                <th>
                                                    Description
                                                </th>
                                                <th>
                                                    Teachers
                                                </th>
                                                <th>
                                                    Group Members
                                                </th>
                                                <th>
                                                    Project Title
                                                </th>
                                                <th>
                                                    Deadline
                                                </th>


                                                <th>
                                                    Delete
                                                </th>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="row in announcements | filter: tablefilter" ng-if="row.PanelId!=Empty">
                                                        <td>{{row.Title}}</td>


                                                        <td>{{row.Description}}</td>
                                                        <td ng-repeat="p in Panels" ng-if="p.Id==row.PanelId">{{p.Teacher1}} {{p.Teacher2}}</td>
                                                        <td ng-repeat="r in result" ng-if="r.Id==row.GroupId">{{r.RegNo1}} {{r.RegNo2}} {{r.Regno3}}</td>
                                                        <td ng-repeat="p in Project" ng-if="p.GroupId==row.GroupId">{{p.Title}}</td>

                                                        <td>{{row.Deadline}}</td>




                                                        <td>
                                                            <button class="btn btn-danger" style="font-size:11px" ng-click="deleteProject(row.Id)">Delete</button>
                                                        </td>
                                                    </tr>


                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- Add Group Model -->
        <div id="pwdModalAd" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">

            <div class="modal-dialog">
                <div class="card">
                    <div class="modal-content">

                        <div class="card-header card-header-primar" style="background-color:#4caf50;">
                            <h4 class="card-title ">Make Announcement</h4>
                            <p class="card-category">Announcement will be send to all Groups & Teacher's Panel</p>
                        </div>

                        <div class="modal-body">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="">

                                            <div class="panel-body">
                                                <br />
                                                <div class="form-group">
                                                    <h4 style="color: green" align="center"><strong>Announcement Details</strong></h4>
                                                </div>
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Title</label>
                                                    <input type="text" class="form-control" id="cpass" ng-model="Title">
                                                </div>
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Description</label>
                                                    <input type="text" class="form-control" id="cpass" ng-model="Description">
                                                </div>

                                                <div class="form-group">
                                                    <label class="">Deadline</label>
                                                    <input type="date" class="form-control" id="cpass" ng-model="Deadline">
                                                </div>


                                                <br />
                                                <div class="col-md-12" style="text-align:center">
                                                    <button class="btn btn-success" style="font-size:14px; width:50%" ng-click="Register()">Add</button>
                                                </div>

                                                <div class="col-md-12" style="text-align:center">
                                                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>

        <!-- Update Group Model -->
        <div id="pwdModalUp" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">

            <div class="modal-dialog">
                <div class="card">
                    <div class="modal-content">

                        <div class="card-header card-header-primar" style="background-color:#4caf50;">
                            <h4 class="card-title ">Update Project</h4>
                            <p class="card-category"> Student which are eligible to take FYP</p>
                        </div>

                        <div class="modal-body">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="">

                                            <div class="panel-body">
                                                <br />
                                                <div class="form-group">
                                                    <h4 style="color: green" align="center"><strong>Projects Details</strong></h4>
                                                </div>
                                                <div class="form-group">
                                                    <label class="">Project Title</label>
                                                    <input type="text" class="form-control" id="cpass" ng-model="UTitle">
                                                </div>

                                                <div class="form-group">
                                                    <label class="">Group</label>
                                                    <select type="text" class="form-control" id="UGroupId" ng-model="UGroupId">

                                                        <option ng-repeat="row in result" ng-selected="UGroupId==row.Id" value="">{{row.RegNo1}} {{row.RegNo2}} {{row.Regno3}}</option>




                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label class="">Status</label>
                                                    <select type="text" class="form-control" id="UStatus" ng-model="UStatuss">


                                                        <option ng-selected="UStatus==Current">Current</option>
                                                        <option ng-selected="UStatus==Past">Past</option>
                                                    </select>
                                                </div>
                                                <br />
                                                <div class="col-md-12" style="text-align:center">
                                                    <button class="btn btn-success" style="font-size:14px; width:50%" ng-click="ULogic() ">Update</button>
                                                </div>

                                                <div class="col-md-12" style="text-align:center">
                                                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Password change model-->
        <div id="pwdModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">

                        <h1 class="text-center">Change Password</h1>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="text-center">

                                        <p>If you want to change your password you can change it here.</p>
                                        <div class="panel-body">
                                            <br />

                                            <div class="form-group pass_show">
                                                <input type="password" class="form-control" id="cpass" placeholder="Current Password" ng-model="currentpassword">
                                            </div>
                                            <span id="pwmatch1" style="color:#FF0004;">Current Passwords</span>
                                            <br />

                                            <div class="form-group pass_show">
                                                <input type="password" id="password1" class="form-control" placeholder="New Password" ng-model="Password">
                                            </div>

                                            <div class="form-group pass_show">
                                                <input type="password" class="form-control" id="password2" placeholder="Confirm Password" ng-model="confirmpassword">
                                            </div>
                                            <span id="pwmatch" style="color:#FF0004;"> Passwords Match</span>
                                            <br />
                                            <button class="btn btn-lg btn-primary btn-block" value="" type="submit" ng-click="Update()">Change Password</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-md-12" style="text-align:center">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--   Core JS Files   -->
    <script src="../assets/js/core/jquery.min.js"></script>
    <script src="../assets/js/core/popper.min.js"></script>
    <script src="../assets/js/core/bootstrap-material-design.min.js"></script>
    <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!-- Plugin for the momentJs  -->
    <script src="../assets/js/plugins/moment.min.js"></script>
    <!--  Plugin for Sweet Alert -->
    <script src="../assets/js/plugins/sweetalert2.js"></script>
    <!-- Forms Validations Plugin -->
    <script src="../assets/js/plugins/jquery.validate.min.js"></script>
    <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
    <script src="../assets/js/plugins/jquery.bootstrap-wizard.js"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="../assets/js/plugins/bootstrap-selectpicker.js"></script>
    <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
    <script src="../assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
    <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
    <script src="../assets/js/plugins/jquery.dataTables.min.js"></script>
    <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="../assets/js/plugins/bootstrap-tagsinput.js"></script>
    <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="../assets/js/plugins/jasny-bootstrap.min.js"></script>
    <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
    <script src="../assets/js/plugins/fullcalendar.min.js"></script>
    <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
    <script src="../assets/js/plugins/jquery-jvectormap.js"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="../assets/js/plugins/nouislider.min.js"></script>
    <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
    <!-- Library for adding dinamically elements -->
    <script src="../assets/js/plugins/arrive.min.js"></script>
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Chartist JS -->
    <script src="../assets/js/plugins/chartist.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="../assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../assets/js/material-dashboard.js?v=2.1.2" type="text/javascript"></script>
    <!-- Material Dashboard DEMO methods, don't include it in your project! -->
    <script src="../assets/demo/demo.js"></script>

    <script>

        var pass;
        var name;
        var email;
        var address;
        var dob;
        var phone;
        var username;
        var id;

        //onload
        $(document).ready(function () {
            if (sessionStorage.getItem('admlgn') == null) {
                location.href = 'AdminLogin.html';
            } else {
                var user = sessionStorage.getItem('admlgn');
                var obj = JSON.parse(user);
                console.log(obj);

                $("#ProfileName").val(obj.Name);

                name = obj.Name;
                email = obj.Email;
                address = obj.Address;
                dob = obj.DOB;
                phone = obj.Phone;
                username = obj.UserName;
                pass = obj.Password;
                id = obj.Id;

            }
        });
        $("input[type=password]").keyup(function () {

            if ($("#cpass").val() == pass) {
                $("#pwmatch1").removeClass("glyphicon-remove");
                $("#pwmatch1").addClass("glyphicon-ok");
                $("#pwmatch1").css("color", "#00A41E");
            }
            else {
                $("#pwmatch1").removeClass("glyphicon-ok");
                $("#pwmatch1").addClass("glyphicon-remove");
                $("#pwmatch1").css("color", "#FF0004");
            }
        });
        $("#lgout").click(function () {
            sessionStorage.removeItem('admlgn');
            location.reload();
        });

        var name, gender, dob, feild_of_study, department, graduationyear, address, phone, employment, username, password, email, imagepath;
        $("input[type=password]").keyup(function () {

            if ($("#password1").val() == $("#password2").val()) {

                $("#pwmatch").css("color", "#00A41E");
            } else {

                $("#pwmatch").css("color", "#FF0004");
            }


        });

        $(document).ready(function () {
            $('.pass_show').append('<span class="ptxt">Show</span>');
        });


        $(document).on('click', '.pass_show .ptxt', function () {

            $(this).text($(this).text() == "Show" ? "Hide" : "Show");

            $(this).prev().attr('type', function (index, attr) { return attr == 'password' ? 'text' : 'password'; });

        });

        var app = angular.module('myApp', []);
        app.controller('mainController', function ($scope, $http) {

            var ID;
            var ugrpid;
            var grpid;
            
          
             //Getting Groups

            //Getting Projects
            var onsuccess = function (data, header, status, config) {
                $scope.announcements = data;
                $scope.Empty = null;
            }
            var onerror = function (data, header, status, config) {
                swal("error in getting users!, status code : " + status);
            }
            var promise = $http.get('/api/Announcements');
            promise.success(onsuccess);
            promise.error(onerror);


            var onsuccess = function (data, header, status, config) {
                $scope.result = data;


            }
            var onerror = function (data, header, status, config) {
                swal("error in getting users!, status code : " + status);
            }
            var promise = $http.get('/api/Groups');
            promise.success(onsuccess);
            promise.error(onerror);

            //Getting Projects
            var onsuccess = function (data, header, status, config) {
                $scope.Project = data;


            }
            var onerror = function (data, header, status, config) {
                swal("error in getting users!, status code : " + status);
            }
            var promise = $http.get('/api/Projects');
            promise.success(onsuccess);
            promise.error(onerror);


            //Getting Panel
            var onsuccess = function (data, header, status, config) {
                $scope.Panels = data;


            }
            var onerror = function (data, header, status, config) {
                swal("error in getting users!, status code : " + status);
            }
            var promise = $http.get('/api/Panels');
            promise.success(onsuccess);
            promise.error(onerror);

         




            $scope.deleteProject = function (id) {
                var onsuccess = function (data, header, status, config) {

                    swal({
                        text: "Delete SuccessFully",
                        type: "success",
                        buttons: {
                            ok: true
                        }

                    }).then(val => {
                        if (val) {
                            location.reload();
                        }
                    });


                }
                var onerror = function (data, header, status, config) {
                    swal({
                        text: "Deleting failed",
                        type: "warning",
                        buttons: {
                            ok: true
                        }
                    });
                }
                var promise = $http.delete('/api/Announcements/' + id);
                promise.success(onsuccess);
                promise.error(onerror);
            }

            $scope.editProject = function (id) {

                var onsuccess = function (data, header, status, config) {

                    ID = data.Id,

                        $scope.UTitle = data.Title,
                        $scope.UDescription = data.Description,
                        $scope.UDeadline = data.Deadline

                   
                }
                var onerror = function (data, header, status, config) {
                    swal("error in getting users!, status code : " + status);
                }
                var promise = $http.get('/api/Announcements/' + id);
                promise.success(onsuccess);
                promise.error(onerror);

            }




         

            $scope.UpdateProject = function () {
                var project = {
                    "Id": ID,
                    "Title": $scope.UTitle,
                    "Description": $scope.UDescription,
                    "Deadline": $scope.UDeadline,

                };
                console.log(ugrpid);
                console.log(project);
                var onsuccess = function (data, status, headers, config) {


                    swal({
                        text: "Updated successfully!",
                        type: "success",
                        buttons: { ok: true }
                    }).then(val => {
                        if (val) {
                            location.reload();
                        }
                    });



                };
                var onerror = function (data, header, status, config) {
                    swal("Error in Updation User Details!, status code : " + status);

                }

                var promise = $http.put('/api/Projects/' + ID, project);
                promise.success(onsuccess);
                promise.error(onerror);

            };

          

            $scope.Register = function()
            {


            var announcement = {
                "Title": $scope.Title,
                "Description": $scope.Description,
                "Deadline": $scope.Deadline,


            };


                console.log(announcement);


                var onSuccess = function (data, status, headers, config) {
                    swal({
                        text: "Announcement Registered",
                        type: "success",
                        buttons: { ok: true }
                    }).then(val => {
                        if (val) {
                            location.reload();
                        }
                    });



                };
                var onError = function (data, status, headers, config) {

                    swal({
                        text: "Announcement Registration unsuccessful!" + status,
                        type: "warning",
                        buttons: { ok: true }
                    });

                };

                var promise = $http.post('/api/Announcements', announcement);
                debugger;
                promise.success(onSuccess);
                promise.error(onError);
            };




            $scope.Update = function () {
                var admin = {
                    "Id": id,
                    "Name": name,
                    "DOB": dob,
                    "Address": address,
                    "Phone": phone,
                    "UserName": username,
                    "Password": $scope.Password,
                    "Email": email,

                };
                console.log(admin);


                var onsuccess = function (data, status, headers, config) {


                    swal({
                        text: "Password Changed!",
                        type: "success",
                        buttons: { ok: true }
                    }).then(val => {
                        sessionStorage.removeItem('admlgn');
                        location.reload();
                    });



                };

                var onerror = function (data, header, status, config) {
                    swal("error in getting users!, status code : " + status);

                }

                var promise = $http.put('/api/Admins/' + id, admin);
                promise.success(onsuccess);
                promise.error(onerror);

            };



        });



    </script>

</body>

</html>
